
*.bin
*.sst
*.log
tibetan.userdb/LOCK
*.old
tibetan.userdb/MANIFEST-000012
tibetan.userdb/LOG
build/bopomofo.schema.yaml
build/cangjie5.schema.yaml
build/weasel.yaml
build/terra_pinyin.schema.yaml
build/stroke.schema.yaml
build/pinyin_simp.schema.yaml
build/default.yaml
build/double_pinyin.schema.yaml
build/easy_en.schema.yaml
build/td_pinyin.schema.yaml
build/luna_pinyin.schema.yaml
build/soutzoe.schema.yaml
build/wubi86.schema.yaml
sync/10eb7508-e167-4823-8968-7521df318d50/default.custom.yaml
sync/10eb7508-e167-4823-8968-7521df318d50/installation.yaml
tibetan.userdb/CURRENT
sync/10eb7508-e167-4823-8968-7521df318d50/weasel.custom.yaml
sync/10eb7508-e167-4823-8968-7521df318d50/user.yaml
sync/10eb7508-e167-4823-8968-7521df318d50/terra_pinyin.userdb.txt
sync/10eb7508-e167-4823-8968-7521df318d50/luna_pinyin.userdb.txt
wubi86.userdb/LOG
wubi86.userdb/MANIFEST-000012
wubi86.userdb/CURRENT
wubi86.userdb/LOCK
td_pinyin.userdb/LOCK
td_pinyin.userdb/MANIFEST-000044
td_pinyin.userdb/CURRENT
td_pinyin.userdb/LOG
terra_pinyin.userdb/CURRENT
terra_pinyin.userdb/LOCK
terra_pinyin.userdb/LOG
terra_pinyin.userdb/MANIFEST-000016
easy_en.userdb/CURRENT
easy_en.userdb/LOCK
easy_en.userdb/LOG
easy_en.userdb/MANIFEST-000036
luna_pinyin.userdb/CURRENT
luna_pinyin.userdb/LOG
luna_pinyin.userdb/LOCK
luna_pinyin.userdb/lost/MANIFEST-000068
luna_pinyin.userdb/MANIFEST-000063
build/nihongo-r.schema.yaml
td_pinyin.userdb/MANIFEST-000046
td_pinyin.userdb/MANIFEST-000049
nihongo-r.userdb/LOCK
nihongo-r.userdb/CURRENT
td_pinyin.userdb/MANIFEST-000052
nihongo-r.userdb/MANIFEST-000002
nihongo-r.userdb/LOG
easy_en.userdb/MANIFEST-000041
terra_pinyin.userdb/MANIFEST-000021
td_pinyin.userdb/MANIFEST-000056
