
*.bin
*.sst
*.log
tibetan.userdb/LOCK
*.old
tibetan.userdb/MANIFEST-000012
tibetan.userdb/LOG
build/bopomofo.schema.yaml
build/cangjie5.schema.yaml
build/weasel.yaml
build/terra_pinyin.schema.yaml
build/stroke.schema.yaml
build/pinyin_simp.schema.yaml
build/default.yaml
build/double_pinyin.schema.yaml
build/easy_en.schema.yaml
build/td_pinyin.schema.yaml
build/luna_pinyin.schema.yaml
build/soutzoe.schema.yaml
build/wubi86.schema.yaml
sync/10eb7508-e167-4823-8968-7521df318d50/default.custom.yaml
sync/10eb7508-e167-4823-8968-7521df318d50/installation.yaml
tibetan.userdb/CURRENT
sync/10eb7508-e167-4823-8968-7521df318d50/weasel.custom.yaml
sync/10eb7508-e167-4823-8968-7521df318d50/user.yaml
sync/10eb7508-e167-4823-8968-7521df318d50/terra_pinyin.userdb.txt
sync/10eb7508-e167-4823-8968-7521df318d50/luna_pinyin.userdb.txt
wubi86.userdb/LOG
wubi86.userdb/MANIFEST-000012
wubi86.userdb/CURRENT
wubi86.userdb/LOCK
